<div class="container-fluid"> <!--Contenedor principal -->
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-light ba-bg-nav" style="background-color: #00000F;"> <!-- header -->
    <a class="navbar-brand" href="#">
      <img src="assets/img/Logo.png" alt="Quantum" class="logo" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']"><h3>Inicio</h3> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item category-nav" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['categoria', category.id]"><h3>{{category.name}}</h3></a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']"><h3>Login</h3> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']"><h3>Registro</h3></a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right mr-5" *ngIf="identity && identity.name">
        <li *ngIf="identity && identity.image" class="nav-item">
          <div class="mask-avatar">
              <img src="{{ url + 'user/avatar/' + identity.image }}" alt="" class="avatar-nav" />
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ identity.name + ' ' + identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['crear-entrada']">Crear Entrada</a>
            <a class="dropdown-item" [routerLink]="['crear-categoria']">Crear Categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['perfil', identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['logout/1']">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> <!-- fin barra de navegacion -->
  <!-- Contenido-->
<router-outlet></router-outlet>
</div> <!-- fin contenedor principal -->
<!-- footer -->
<div class="container-fluid mt-4">
  <hr>
  <footer>
    <h4>Jon Tmarz <sup><fa-icon [icon]="copyright"></fa-icon></sup> | Todos los derechos reservados<sup>&copy;</sup></h4>
  </footer>
  <hr>
</div>
<!-- fin footer -->
