<div class="container">
  <div class="jumbotron mt-5 mb-5 text-center">
    <h1 class="display-4 ba-title">{{ page_title }}</h1>
    <p class="lead">Puedes colocar tus preguntas y aprender con tus compañeros desarrolladores :)</p>
    <hr class="my-4">
    <p>Crea tu usuario y aprende de los mejores, también puede enseñar lo que sabes</p>
    <div class="mt-5">
      <a class="btn btn-primary btn-lg mr-3" [routerLink]="['/temas']" role="button">Ver Temas</a>
      <a class="btn btn-success btn-lg mr-3" [routerLink]="['/usuarios']" role="button">Ver Compañeros</a>
      <a class="btn btn-temas btn-lg mr-3" [routerLink]="['/panel/crear']" routerLinkActive="router-link-active"  role="button">Añade un Tema</a>
    </div>
  </div>
</div>
